In [1]:
import mysql.connector
import MySQLdb
import pandas as pd

In [6]:
f = open('untitled.txt', 'r')
u = f.readline()
u = u[:-1]
print(len(u))
p = f.readline()
f.close()

1

In [3]:
mysql.connector.connect(host='localhost', database='mysql', user=u, password=p)

In [4]:
conn = MySQLdb.connect('localhost', u, p)
cur = conn.cursor()
db = "CREATE DATABASE IF NOT EXISTS test_db"
cur.execute(db)

OperationalError: (1698, "Access denied for user 'root\n'@'localhost'")

In [ ]:
print(cur.execute("SHOW DATABASES"))
conn.close()

In [ ]:
conn = MySQLdb.connect(host='localhost', database='test_db', user=u, password=p)
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS my_tracker (id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, date DATE NOT NULL,column1 FLOAT,column2 FLOAT, column3 FLOAT, column4 FLOAT, column5 FLOAT, column6 FLOAT, PRIMARY KEY (id));")
cur.execute("INSERT INTO my_tracker (id, date, column1) VALUES (1, '2020-09-27', 38)")
cur.execute("SELECT * FROM my_tracker")

column_names = [item[0] for item in cur.description]

df=pd.DataFrame(cur.fetchall() , columns = column_names)
print(df)

In [ ]:
conn.close()